<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="credit-card-div">
            <div class="panel panel-default">
                <div class="panel-heading">Account Nickname 1</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <span class="col-md-5 col-xs-6">Type:</span>
                        <span class="col-md-7 col-xs-6">Credit Card</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-5 col-xs-6">#Number:</span>
                        <span class="col-md-7 col-xs-6">0000 0000 0000 0000</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-5 col-xs-6">Rewards:</span>
                        <span class="col-md-7 col-xs-6">$ 4,000</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-5 col-xs-6">Balance:</span>
                        <span class="col-md-7 col-xs-6">$ 5,347</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CREDIT CARD DIV END -->
</div>