<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="credit-card-div" *ngFor="let account of accounts">
            <div class="panel panel-default">
                <div class="panel-heading">{{account.nickname}}</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <span class="col-md-5 col-xs-6">Type:</span>
                        <span class="col-md-7 col-xs-6">{{account.type}}</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-5 col-xs-6">#Number:</span>
                        <span class="col-md-7 col-xs-6">{{account.account_number}}</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-5 col-xs-6">Rewards:</span>
                        <span class="col-md-7 col-xs-6">$ {{account.rewards}}</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-5 col-xs-6">Balance:</span>
                        <span class="col-md-7 col-xs-6">$ {{account.balance}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CREDIT CARD DIV END -->
</div>