<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{profile.name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{profile.picture_large}}"
                                class="img-circle img-responsive">
                        </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>First Name:</td>
                                        <td>{{profile.given_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Last Name:</td>
                                        <td>{{profile.family_name}}</td>
                                    </tr>

                                    <tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>{{profile.gender}}</td>
                                        </tr>
                                        <tr>
                                            <td>Home Address</td>
                                            <td>West Lafayette</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><a href="{{profile.email}}">{{profile.email}}</a></td>
                                        </tr>
                                        <tr>
                                            <td>Phone Number</td>
                                            <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                                            </td>
                                        </tr>
                                </tbody>
                            </table>

                            <a [routerLink]="['../overview']" class="btn btn-primary">Create A Capital Account</a>
                            <a [routerLink]="['../accounts']" class="btn btn-primary">Track Finance Accounts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>