<section *ngIf="hasAccount()" class="container">
    <div class="row">
        <div class="offset-xl-3 offset-md-2 offset-xs-1 text-center">
            <h1>My Finance Record</h1>
            <div style="display: block;">
                <canvas baseChart width="400" height="400" [datasets]="data.datasets" [labels]="data.labels" [options]="options" [chartType]="type"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="offset-xs-1 offset-md-2 offset-xl-3"></div>
        <div class="row text-center">
            <button class="btn btn-info col" (click)="updateType('pie')">Pie</button>
            <button class="btn btn-info col" (click)="updateType('bar')">Bar</button>
            <button class="btn btn-info col" (click)="updateType('line')">Line</button>
            <button class="btn btn-info col" (click)="updateType('radar')">Radar</button>
            <button class="btn btn-info col" (click)="updateType('polarArea')">Polar</button>
        </div>
    </div>
</section>

<!-- If donot have an Capital One account-->
<section *ngIf="!hasAccount()" class="container">
    <div class="text-center container-center">
        <button class="btn btn-info">Create A <strong>Capital One</strong> Account</button>
    </div>
</section>