.container-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.container_info {
    position: absolute;
    right: 120px;
    overflow: auto;
    background: rgb(48, 48, 48);
    color: white;
    border: 1px solid #ccc;
    min-height: 57%;
    max-height: 65%;
    max-width: 20%;
    font-size: 14px;
    font-family: inherit;
    margin: 10px 10px 10px 10px;
    box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
    white-space: pre-wrap;
    outline: 0;
}